* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    overflow-x: hidden;
}
.header-full-wrp {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999999;
    transition: all 0.3s ease-out;
    max-width: 100%;
    transform: translate(-50%, 0%);
  }
  
  .header-full-wrp::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8.75rem;
    left: 0px;
    background-color: #000000;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .header-full-wrp .top-head {
    padding: 9px 0px;
    background-color: #0a0a5f;
    transition: all 0.3s ease-out;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .header-full-wrp .top-head .container-1600-wrp {
    display: flex;
    justify-content: flex-end;
  }
  
  .container-1600-wrp {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0px 0.938rem;
  }
  
  .header-full-wrp .top-head .container-1600-wrp ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-full-wrp .top-head .container-1600-wrp ul li {
    display: flex;
    align-items: center;
  }
  
  .header-full-wrp .main-nav-bx {
    background: linear-gradient(180deg, #020202 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .header-full-wrp .main-nav-bx {
    padding: 25px 0px;
    position: relative;
    margin: 0 auto;
    margin-top: 33px;
    transition: all 0.3s ease-out;
  }
  
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 0);
    margin-right: calc(-0.5 * 1.5rem);
    margin-left: calc(-0.5 * 1.5rem);
  }
  
  .header-full-wrp .main-nav-bx .logo-wrp {
    display: block;
    width: 175px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  img,
  svg {
    vertical-align: middle;
  }
  
  .header-full-wrp .main-nav-bx .nav-card {
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .header-full-wrp .main-nav-bx .nav-card ul.level1 {
    list-style: none;
    list-style-type: none;
    margin: 0.75rem 0px 0px;
    padding: 0px;
    width: fit-content;
    display: flex;
  }
  
  .header-full-wrp .main-nav-bx .nav-card ul.level1 li {
    position: relative;
    padding-bottom: 1.25rem;
  }
  
  .header-full-wrp .main-nav-bx .nav-card ul.level1 li a {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    padding: 0px 1.063rem;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    border-radius: 0px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .header-full-wrp .main-nav-bx .nav-card ul.level1 li a:hover {
    color: #307fe2 !important;
  }
  
  .nav-card .level1:not(.level2) li a.active {
    color: #307fe2 !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  .header-full-wrp .main-nav-bx .nav-card .logo-wrp2 {
    display: inline-block;
    position: relative;
    top: -7px;
    width: 124px;
    height: 24px;
  }
  
.home{
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/newsroom/tata_last.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
}
.home .homeshade{
    width: 50%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 74%);
    color: white;
    position: relative;
    
}
.home .homeshade .hometxt{
    width: 100%;
    height: 100%;
    margin-top: 40%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
}
.home .homeshade .hometxt p{
    font-size: 20px;
}
.home .homeshade .hometxt h1{
    font-size: 45px;
}
.home .homeshade .hometxt .arrow{
    height: 10%;
    width: 10%;
    border: 0.5px solid white;
    animation: arrow1 2s ease infinite;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    
}
.home .homeshade .hometxt .arrow .arricon{
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-left: 25px;
    position: absolute;
    font-size: 30px;
}
@keyframes arrow1 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section2 .s2txt{
    width: 95%;
    border-bottom: 0.5px solid gray;
    align-self: center;
    margin-top: 10px;
}
.section2  .s2title{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2  .s2title h1{
    font-size: 40px;
}
.section2  .s2title a{
    text-decoration: none;
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(1, 1, 95);
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all;
    transition-duration: 150ms;
    transition-behavior:initial;
}
.section2  .s2title a:hover{
    background: rgb(0, 110, 255);
}
.section2 .s2imgl{
    width: 95%;
    height: 400px;  
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.section2 .s2imgl .s2i1{
    width: 23%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    row-gap: 20px;
    
}
.section2 .s2imgl .s2i1 .s2t1{
    /* height: 100%; */
    width: 100%;
}
.section2 .s2imgl .s2i1 img{
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all;
    transition-duration: 100ms;
    transition-behavior:initial;
}
.section2 .s2imgl .s2i1 img:hover{
    transform: scale(1.1);
}
.section2 .s2imgl .s2i1 p{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}
.section2 .s2imgl .s2i1 h4{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section2 .s2imgl .s2i1 a{
    margin-left: 10px;
    margin-top: 30px;
}
.section2 .s2imgl .s2i1 a:hover{
    transform: scale(1.5);
    color: rgb(0, 110, 255);
}
.section2  .s2title2{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2  .s2title2 h1{
    font-size: 40px;
}
.section2  .s2title2 a{
    text-decoration: none;
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(1, 1, 95);
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all;
    transition-duration: 150ms;
    transition-behavior:initial;
}
.section2  .s2title2 a:hover{
    background: rgb(0, 110, 255);
}
.section2 .s2imgl2{
    width: 95%;
    height: 400px;  
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.section2 .s2imgl2 .s2i21{
    width: 23%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    row-gap: 20px;
    
}
.section2 .s2imgl2 .s2i21 .s2t2t1{
    width: 100%;
    height: 100%;
}
.section2 .s2imgl2 .s2i21 img{
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all;
    transition-duration: 100ms;
    transition-behavior:initial;
}
.section2 .s2imgl2 .s2i21 img:hover{
    transform: scale(1.1);
}
.section2 .s2media{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.section2 .s2media .s2cont{
    width: 45%;
    height: 150px;
    color: white;
    background: rgb(0, 0, 124);
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
} 
.section2 .s2media .s2cont h1{
    font-size: 30px;
}
.section2 .s2media .s2cont a{
    color: white;
}
.section2 .s2media .upcomming{
    width: 45%;
    height: 150px;
    border: 2px solid black;
    padding: 30px;
} 
.section2 .s2media .upcomming .news{
    width: 95%;
    height: 70%;
    border-bottom: 1px solid gray;
    /* border: 2px solid red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2 .s2media .upcomming .news h1{
    font-size: 35px;
}
.section2 .s2media .upcomming .newsubdate{
    width: 95%;
    height: 50%;
    padding-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2 .s2media .upcomming .newsubdate p{
    font-size: 25px;
}
.lastsection{
    width: 100vw;

    background: rgb(232, 229, 229);
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lastsection .lasttext{
    width: 95%;
    
}
.lastsection .lasttext h1{
    font-size: 40px;
}
.lastsection .socialmedia{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.lastsection .socialmedia .sm1{
    width: 18%;
    height: 250px;
    background: white;
    position: relative;
    overflow: hidden;
}
.lastsection .socialmedia .sm1 iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

}
.lastsection .socialmedialink{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.lastsection .socialmedialink .sml1{
    width: 18%;
    height: 60px;
    background: rgb(1, 122, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 2px solid black; */
    margin-top: 60px;
}
.lastsection .socialmedialink .sml1 .llogo{
    height: 60%;
    width: 18%;
    background: white;
    position: relative;
    padding-top: 6px;
    border-radius: 50%;
}
.lastsection .socialmedialink .sml2 .llogo{
    height: 60%;
    width: 18%;
    background: white;
    position: relative;
    padding-top: 6px;
    border-radius: 50%;
}
.lastsection .socialmedialink .sml3 .llogo{
    height: 60%;
    width: 18%;
    background: white;
    position: relative;
    padding-top: 6px;
    border-radius: 50%;
}
.lastsection .socialmedialink .sml4 .llogo{
    height: 60%;
    width: 18%;
    background: white;
    position: relative;
    padding-top: 6px;
    border-radius: 50%;
}
.lastsection .socialmedialink .sml5 .llogo{
    height: 60%;
    width: 18%;
    background: white;
    position: relative;
    padding-top: 6px;
    border-radius: 50%;
}
.lastsection .socialmedialink .sml2{
    width: 18%;
    height: 60px;
    background: rgb(0, 85, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
    margin-top: 60px;
}
.lastsection .socialmedialink .sml3{
    width: 18%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* bpx solid blackorder: 2; */
    margin-top: 60px;
}
.lastsection .socialmedialink .sml4{
    width: 18%;
    height: 60px;
    background: #ff2626;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
    margin-top: 60px;
}
.lastsection .socialmedialink .sml5{
    width: 18%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 60px;
}
footer {
    /* height: 100vh; */
    width: 100vw;
    background: rgb(2, 2, 84);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    row-gap: 20px;
}
footer .f2{
    width: 15%;
    height: 30px;
    border-bottom: 0.5px solid rgba(12, 60, 250, 0.741);
    padding: 3px;
}

footer .f3{
    width: 20%;
    height: 30px;
    border-bottom: 0.5px solid rgba(12, 60, 250, 0.847);
    padding: 3px;
}
footer .f3 a{
    color: rgb(12, 60, 250);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .f2 a{
    color: rgb(12, 60, 250);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .f1{
    width: 15%;
    height: 30px;
    padding: 3px;
    
}
footer .f1 a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
footer .f4{
    width: 20%;
    height: 30px;
    padding: 3px;

}
footer .f4 a{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fl{
    width: 20%;
    height: 30px;
    border-bottom: 0.5px solid rgba(12, 60, 250, 0.847);
    padding: 3px;
    margin-left: -20px;
}
footer .fl a{
    color: rgb(12, 60, 250);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fsubs{
    height: 30px;
    width: 30%;
    border-bottom: 0.5px solid rgba(12, 60, 250, 0.847);
    padding: 3px;
}
footer .fsubs a{
    color: rgb(12, 60, 250);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .flogo{
    height: 60px;
    width: 20%;
    margin-left: -20px;
    display: flex;
    justify-content: space-around;
}
footer .flogo .l1{
    height: 55%;
    width: 12%;
    background: wheat;
    border-radius: 50%;
    text-align: center;
    
}
footer .flogo .l1 i{
    margin-top: 8px;
    font-size: 15px;
}
footer .fltext{
    height: 30px;
    width: 10%;
    margin-left: -20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .fltext2{
    height: 25px;
    width: 11%;
    border-left: 1px solid white;
    /* border: 2px solid white; */
    margin-left: -20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}
footer .fform{
    height: 60px;
    width: 22%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(101, 99, 99);
}
footer .fform2{
    height: 60px;
    width: 8%;
    
    background: rgb(39, 104, 245);
    margin-left: -20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
footer .copyright{
    height: 50px;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1400px) {
    .home .homeshade .hometxt .arrow .arricon {
        display: none;
    }
    .home .homeshade .hometxt .arrow {
        display: none;
    }
}
@media screen and (max-width:1076px) {
    .section2 .s2title h1 {
        font-size: 30px;
    }
    .section2 .s2title a {
        text-decoration: none;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgb(1, 1, 95);
        color: white;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: all;
        transition-duration: 150ms;
        transition-behavior: initial;
    }
    .section2 .s2imgl {
        width: 95%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .section2 .s2title2 h1 {
        font-size: 30px;
    }
    .section2 .s2title2 a {
        text-decoration: none;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgb(1, 1, 95);
        color: white;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition: all;
        transition-duration: 150ms;
        transition-behavior: initial;
    }
}
@media screen and (max-width:873px) {
    .section2 .s2imgl {
        width: 95%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
    }   
    .section2 .s2imgl .s2i1 {
        width: 80%;
        display: flex;
        gap: 50px;
        flex-direction: row;
    } 
    .section2 .s2imgl .s2i1 .s2t1 {
        height: 500px;
        width: 100%;
    }
    .section2 .s2imgl .s2i1 img {
        height: 100%;
        width: 80%;
        border-radius: 10px;
    }
    .section2 .s2imgl .s2i1 h4 {
        font-size: small;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section2 .s2imgl .s2i1 a {
      display: none;

    }
    .section2 .s2imgl2 {
        width: 95%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        margin-bottom: 30px;
    }
    .section2 .s2imgl2 .s2i21 {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .section2 .s2imgl2 .s2i21 img {
        height: 100%;
        width: 40%;
        border-radius: 10px;
        transition: all;
        transition-duration: 100ms;
        transition-behavior: initial;
    }
    .section2 .s2imgl2 .s2i21 .s2t2t1 {
        width: 50%;
        height: 100%;
    }
    .section2 .s2imgl2 .s2i21 .s2t2t1 p{
        font-size: x-small;
    }
    .section2 .s2imgl2 .s2i21 .s2t2t1 h4{
        font-size: small;
    }
    .section2 .s2media {
        width: 95%;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        gap: 30px;
    }
    .section2 .s2media .s2cont {
        width: 90%;
        height: 150px;
        color: white;
        background: rgb(0, 0, 124);
        border-radius: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 30px;
    }
    .section2 .s2media .upcomming {
        width: 90%;
        height: 150px;
        border: 2px solid black;
        padding: 30px;
    }
    .section2 .s2media .s2cont h1 {
        font-size: 20px;
    }
    
.section2 .s2media .upcomming .news {
    width: 95%;
    height: 70%;
    border-bottom: 1px solid gray;
    /* border: 2px solid red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .section2 .s2media .upcomming .news h1 {
    font-size: 20px;
}
.section2 .s2media .upcomming .newsubdate p {
    font-size: 15px;
}
    .lastsection .lasttext{
        width: 80%;
    }
    .lastsection .socialmedia{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .lastsection .socialmedialink {
        display: none;
    }
    .lastsection .socialmedia .sm1 {
        width: 80%;
        height: 250px;
        background: white;
        position: relative;
        overflow: hidden;
    }
}
@media screen and (max-width:1234px) {
    .section3 {
        width: 100vw;
        background: rgb(230, 227, 227);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 150px;
        padding: 50px;
    }
    .section3 .s3g1 {
        width: 50%;
        border-radius: 10px;
        overflow: hidden;
    }
    .section3 .s3g2 {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .section3 .s3g3 {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .section3 .s3g4 {
        width: 50%;
        border-radius: 10px;
        overflow: hidden;
    }
    footer {
        width: 100vw;
        background: rgb(2, 2, 84);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 80px;
    } 
    footer .f2 {
        width: 100%;
        height: 30px;
        border-bottom: 0.5px solid rgba(12, 60, 250, 0.741);
        padding: 3px;
    }   
    footer .f3 {
        width: 100%;
        height: 30px;
        border-bottom: 0.5px solid rgba(12, 60, 250, 0.847);
        padding: 3px;
    }
    footer .f1 {
        width: 100%;
        height: 30px;
        padding: 3px;
    }
    footer .flogo {
        height: 60px;
        width: 30%;
        margin-left: -20px;
        display: flex;
        justify-content: space-around;
    }
    footer .fform {
        height: 60px;
        width: 30%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgb(101, 99, 99);
    }
    footer .fform2 {
        height: 60px;
        width: 30%;
        background: rgb(39, 104, 245);
        margin-left: -20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    footer .fltext {
        height: 30px;
        width: 100%;
        margin-left: -20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .fltext2 {
        height: 25px;
        width: 100%;
        margin-left: -20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7px;
    }
    footer .copyright {
        height: 50px;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
@media screen and (max-width:951px) {
    .section3 .s3g1 {
        width: 70%;
        border-radius: 10px;
        overflow: hidden;
    }
    .section3 .s3g4 {
        width: 70%;
        /* height: 50vh; */
        /* border: 2px solid black; */
        border-radius: 10px;
        overflow: hidden;
  }
}