@import url("https://fonts.cdnfonts.com/css/uni-neue");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Uni Neue";
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 37, 41);
  font-family: "Uni Neue";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  text-align: start;
}

.header-full-wrp {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999999;
  transition: all 0.3s ease-out;
  max-width: 100%;
  transform: translate(-50%, 0%);
}

.header-full-wrp::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -8.75rem;
  left: 0px;
  background-color: #000000;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.header-full-wrp .top-head {
  padding: 9px 0px;
  background-color: #0a0a5f;
  transition: all 0.3s ease-out;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-full-wrp .top-head .container-1600-wrp {
  display: flex;
  justify-content: flex-end;
}

.container-1600-wrp {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0px 0.938rem;
}

.header-full-wrp .top-head .container-1600-wrp ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-full-wrp .top-head .container-1600-wrp ul li {
  display: flex;
  align-items: center;
}

.header-full-wrp .main-nav-bx {
  background: linear-gradient(180deg, #020202 0%, rgba(0, 0, 0, 0) 100%);
}

.header-full-wrp .main-nav-bx {
  padding: 25px 0px;
  position: relative;
  margin: 0 auto;
  margin-top: 33px;
  transition: all 0.3s ease-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.header-full-wrp .main-nav-bx .logo-wrp {
  display: block;
  width: 175px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.header-full-wrp .main-nav-bx .nav-card {
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header-full-wrp .main-nav-bx .nav-card ul.level1 {
  list-style: none;
  list-style-type: none;
  margin: 0.75rem 0px 0px;
  padding: 0px;
  width: fit-content;
  display: flex;
}

.header-full-wrp .main-nav-bx .nav-card ul.level1 li {
  position: relative;
  padding-bottom: 1.25rem;
}

.header-full-wrp .main-nav-bx .nav-card ul.level1 li a {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #ffffff;
  padding: 0px 1.063rem;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  text-decoration: none;
}

.header-full-wrp .main-nav-bx .nav-card ul.level1 li a:hover {
  color: #307fe2 !important;
}

.nav-card .level1:not(.level2) li a.active {
  color: #307fe2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header-full-wrp .main-nav-bx .nav-card .logo-wrp2 {
  display: inline-block;
  position: relative;
  top: -7px;
  width: 124px;
  height: 24px;
}

/* Banner CSS Start */

.inner-bnr {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  margin-top: 0px;
  overflow: hidden;
  z-index: 9;
}

.inner-bnr picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner-bnr .container-1600-wrp {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.inner-bnr .container-1600-wrp .caption-wrp {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
}

.inner-bnr .container-1600-wrp .caption-wrp p {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 0;
}

.inner-bnr .container-1600-wrp .caption-wrp h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 8px;
}

.banneranim {
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px);
}

.bounceArrow {
  position: absolute;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: bounceArrow 2s infinite;
  -webkit-animation: bounceArrow 2s infinite;
  -moz-animation: bounceArrow 2s infinite;
  -o-animation: bounceArrow 2s infinite;
}

.dwn-arrow-btn {
  display: block;
  bottom: 50px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
}

.inner-bnr .container-1600-wrp .dwn-arrw {
  width: 60px;
  height: 60px;
  bottom: 0;
  left: 0;
}

.dwn-arrw {
  position: absolute;
}

.dwn-arrw svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

.dwn-arrw svg .svg-elem-1 {
  stroke-dashoffset: 240.7610416728px;
  stroke-dasharray: 240.7610416728px;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.dwn-arrw svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

.dwn-arrw svg .svg-elem-2 {
  stroke-dashoffset: 240.7610416728px;
  stroke-dasharray: 240.7610416728px;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

.arrowdwn-ico {
  position: absolute;
  left: 0px;
  opacity: 0;
  top: 50px;
  width: 60px;
  height: 60px;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/arrow-dwn-ico.svg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}

/* Banner CSS End */

/* Breadcrumb CSS Start */

.breadcrumbs {
  background-color: #fff;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs .breadcrumb {
  padding: 10px 0;
  border-bottom: 0.5px solid #d3d3d3;
}

.m-0 {
  margin: 0 !important;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
}

ol,
ul {
  box-sizing: border-box;
}

.breadcrumbs .breadcrumb .breadcrumb-item::first-letter {
  text-transform: uppercase;
}

.breadcrumbs .breadcrumb .breadcrumb-item {
  text-transform: lowercase;
}

.breadcrumb-item.active {
  color: rgba(33, 37, 41, 0.75);
}

.breadcrumb-item.active a {
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/arrow-back-ios-new.svg");
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: rgba(33, 37, 41, 0.75);
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

/* Breadcrumb CSS End */

.inner-about-sec {
  margin: 0 auto;
  padding: 100px 0;
  background-color: #0a0a5f;
}

.inner-about-sec .cap-cvr {
  max-width: 750px;
}

.inner-about-sec .cap-cvr .sub-ttle {
  color: #ffffff;
}

.sub-ttle {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.inner-about-sec .cap-cvr .common-ttle {
  color: #ffffff;
}

.common-ttle {
  font-size: 40px;
  line-height: 50px;
}

.inner-about-sec .in-abt-sldr {
  margin-top: 120px;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

/* end */

.abt-journey-wrp {
  margin: 0 auto;
  padding: 100px 0px;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/journey-bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-color: #000000;
}

.row > * {
  max-width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0px;
}

.abt-journey-wrp .jouney-lhs {
  min-height: 100%;
  position: relative;
}

.abt-journey-wrp .jouney-lhs .sub-ttle {
  color: #ffffff;
}

.abt-journey-wrp .jouney-lhs .common-ttle {
  color: #ffffff;
  margin-bottom: 20px;
}

.abt-journey-wrp .jouney-lhs .desc {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.readmore-cta::before {
  content: "";
  width: 33px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: -25px;
  opacity: 0;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/arrw-cta-white_03.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-out;
  display: none !important;
}

.readmore-cta {
  display: block;
  width: fit-content;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
  bottom: 2px;
}

.jouney-lhs-ele {
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px);
}

.jouney-lhs-ele a:hover {
  color: rgb(13, 110, 253);
}

.abt-journey-wrp .journey-rhs.onHover {
  cursor: pointer;
}

.abt-journey-wrp .journey-rhs {
  width: 100%;
  height: 510px;
}

.abt-journey-wrp .journey-rhs.onHover a.journ-bar {
  transition-delay: 100ms;
  width: 4.95rem;
}

.abt-journey-wrp .journey-rhs a {
  min-height: 510px;
  display: inline-block;
  position: relative;
  width: 3rem;
  transition: all 0.3s ease-out;
  transition-delay: 0s;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(1)::after {
  top: 80%;
}

.abt-journey-wrp .journey-rhs.onHover a::after {
  transform: translate(-50%, -50%);
  transition-delay: 500ms;
}

.abt-journey-wrp .journey-rhs a::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transition: all 0.3s ease-out;
}

.abt-journey-wrp .journey-rhs a::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #919191;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all 0.3s ease-out;
}

.abt-journey-wrp .journey-rhs.onHover a .date {
  bottom: 0px;
  transition-delay: 300ms;
}

.abt-journey-wrp .journey-rhs a .date {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #ffffff;
  font-size: 24px;
  line-height: 1.3;
  transition: all 0.3s ease-out;
  background-color: #000000;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(2)::after {
  top: 40%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(3)::after {
  top: 60%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(4)::after {
  top: 40%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(5)::after {
  top: 50%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(6)::after {
  top: 80%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(7)::after {
  top: 60%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(8)::after {
  top: 45%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(9)::after {
  top: 55%;
}

.abt-journey-wrp .journey-rhs a.journ-bar:nth-child(10)::after {
  top: 45%;
}

/* end */

.leadership-wrp {
  margin: 0 auto;
  padding: 100px 0px;
  background-color: #ffffff;
}

.leadership-wrp .in-leadership-bx .caption-wrp {
  max-width: 475px;
}

.leadership-wrp .in-leadership-bx .caption-wrp .sub-ttle {
  color: #ffffff;
}

.leadership-wrp .in-leadership-bx .caption-wrp .common-ttle {
  color: #ffffff;
  margin-bottom: 15px;
}

.leadership-wrp .in-leadership-bx .caption-wrp .desc {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.leadership-wrp .in-leadership-bx .btn-box {
  border: none;
  display: inline-block;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 60px;
  bottom: 100px;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.text-center {
  text-align: center !important;
}

.leadership-wrp .in-leadership-bx .btn-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a5f;
  transition: all 0.3s ease-out;
  z-index: -1;
}

.btn-box::before {
  border-radius: 70px;
}

.leadership-wrp .in-leadership-bx {
  width: 100%;
  min-height: 650px;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/leadership-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 100px 60px;
  border-radius: 32px;
  position: relative;
}

/* leader end */

/* footer start */

.footer-wrp {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0px 25px;
  background-color: #0a0a5f;
}

.footer-wrp .ttle {
  font-size: 16px;
  line-height: 42px;
  color: #307fe2;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(48, 127, 226, 0.2392156863);
  text-transform: uppercase;
}

.footer-wrp .accordion_head2 {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.footer-wrp .accordion_body2 {
  background: transparent;
  display: block;
}

.footer-wrp .ftr-link {
  font-size: 14px;
  margin-bottom: 10px;
  color: #d0d0d0;
  display: block;
  transition: all 0.3s ease-out;
}

.col {
  flex: 1 0 0%;
}

.footerA:hover {
  color: #307fe2;
  text-decoration: none;
}

.justify-content-between {
  justify-content: space-between !important;
}

.socialIcons a {
  display: inline-block !important;
  font-size: 24px !important;
  margin-right: 10px;
}

.footer-wrp .subscribe-wrp .lhs::placeholder {
  color: #ffffff;
  font-size: 18px;
}

.footer-wrp .subscribe-wrp .lhs {
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: 68%;
  padding: 15px;
  padding-left: 15px;
  padding-left: 50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/material-symbols_mail-outline.png");
  background-repeat: no-repeat;
  background-position: top 15px left 15px;
}

.footer-wrp .subscribe-wrp .rhs {
  background-color: #307fe2;
  border: none;
  width: 30%;
  padding: 17px;
  color: #ffffff;
  font-size: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -4px;
}

.mt25 {
  margin-top: 25px !important;
}

.footer-wrp .f3 a {
  display: inline-block;
  color: #ffffff;
  padding-right: 10px;
}

.footer-wrp .f3 a:last-child {
  padding-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-wrp .copy-txt {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#map-container {
  position: relative;
  margin: 0 auto;
  background-color: #f5f9ff;
  padding: 100px 0px 50px;
}

#map-container .cvr .common-ttle {
  margin-bottom: 20px;
}

#map-container .cvr .desc {
  font-size: 16px;
  line-height: 1.5;
  max-width: 426px;
}

.text-center {
  text-align: center !important;
}

.btn-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a5f;
  transition: all 0.3s ease-out;
  z-index: -1;
  border-radius: 70px;
}

.btn-box {
  border: none;
  display: inline-block;
  padding: 12px 35px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
  text-transform: lowercase;
}

#map-container .cvr .countries-tabs {
  max-width: 550px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

#map-container .cvr .countries-tabs .news.active {
  border-bottom: 1px solid #307fe2;
}
.news {
  transition: color 0.2s ease;
}

#map-container .cvr .countries-tabs h3::before {
  content: "";
  color: #000000;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, 0%);
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/Vector-arrw-blue-light.svg");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0;
}

#map-container .cvr .countries-tabs .news.active h3 {
  color: #307fe2;
}
#map-container .cvr .countries-tabs h3 {
  padding: 15px 0px;
  color: #919191;
  transition: all 0.3s ease-out;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

#map-container .cvr .countries-tabs .news.active .country-tags {
  display: block;
}

.news + .news {
  border-top: 1px #d0d0d0 solid;
}
.news {
  transition: color 0.2s ease;
}

.innovation-wrp {
  margin: 0 auto;
  overflow: hidden;
}

.innovation-wrp .innov-lhs img {
  position: relative;
}

.w-100 {
  width: 100% !important;
}

.innovation-wrp .innov-rhs {
  padding: 60px 0px 0px 150px;
  height: 100%;
  position: relative;
}

.innovation-wrp .innov-rhs .common-ttle {
  margin-bottom: 15px;
}

.innovation-wrp .innov-rhs .desc {
  max-width: 565px;
  font-size: 16px;
  line-height: 1.5;
}

.innovation-wrp .innov-rhs .btn-box {
  border: none;
  display: inline-block;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  z-index: 1;
  margin-top: 30px;
  transition: all 0.3s ease-out;
}

.innovation-wrp .innov-rhs .btn-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a5f;
  transition: all 0.3s ease-out;
  z-index: -1;
}

.innovation-wrp .innov-rhs .innov-sldr {
  max-width: 1110px;
  position: absolute;
  left: -120px;
  bottom: 60px;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card
  img {
  border-radius: 20px;
  width: 100%;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card
  .desc-card {
  width: 100%;
  padding: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card
  .desc-card
  h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card
  .desc-card
  p {
  min-height: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
}

.readmore-cta {
  display: block;
  width: fit-content;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
  bottom: 2px;
}

.readmore-cta::before {
  content: "";
  width: 33px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: -25px;
  opacity: 0;
  background-image: url("https://www.tatamotors.com/wp-content/themes/TataMotors/images/arrw-cta-white_03.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-out;
  display: none !important;
}

.innovation-wrp
  .innov-rhs
  .innov-sldr
  .swiper-wrapper
  .swiper-slide
  .innov-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(
      180deg,
      rgba(10, 10, 95, 0) 48.58%,
      #0a0a5f 99.05%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 44.25%, #000 100%);
}

.career-in-wrp {
  margin: 0 auto;
  padding: 100px 0px;
  background-color: #f5f9ff;
}

.career-in-wrp .career-in-card {
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
}

.g-0 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.career-in-wrp .career-in-lhs {
  padding: 60px;
  height: 100%;
  border-radius: 35px 0px 0px 35px;
}

.career-in-wrp .career-in-lhs .common-ttle {
  margin-bottom: 20px;
}

.career-in-wrp .career-in-lhs .desc {
  font-size: 16px;
  line-height: 1.5;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.btn-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a5f;
  transition: all 0.3s ease-out;
  z-index: -1;
  border-radius: 70px;
}

.btn-box {
  border: none;
  display: inline-block;
  padding: 12px 35px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
  text-transform: lowercase;
}

.career-in-wrp .career-in-rhs {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.career-in-wrp .career-in-rhs img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
